build
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
.metadata
.idea
.vscode
.git
.gitignore
android/app/build
android/.gradle
ios/Pods
ios/Runner.xcworkspace
linux/build
macos/Flutter/ephemeral
windows/flutter/ephemeral
web/.dart_tool
node_modules
dist
.env
.env.*
!.env.example