Backend/publish/
# Visual Studio temporary files
.vs/
bin/
obj/
/config
/uploads/student
/Backend/uploads
/Backend/wwwroot/uploads/companies\logo
.deploy-artifacts/admin.zip
.deploy-artifacts/company.zip
Test_Cases_Detailed_All_Portals.csv
Test_Cases_JobFair_Portal.csv
Test_Cases_Exhaustive_Passed.csv
Test_Cases_Hundreds_Exhaustive.csv
Test_Cases_JobFair_Portal.csv   
generate_definitive_manual.ps1
Student_Portal_Operating_Manual.docx
Student_Portal_Exhaustive_Manual.docx
Student_Portal_Full_Manual.docx
.tmp
